@default-font-family: 'Roboto';

// trace 1
.app.display.area {
  border: 1px solid blue;
  font-family: @default-font-family;
}

// Variables
@normal-ui-button-values: {
  background-color: #ebe5f0;
  text-color: #65568e;
  left-right-padding: 40px;
  top-bottom-padding: 20px;
}

@container-height: 40;
@container-shape: 20;
@icon-size: 18;
@left-right-padding: 24;
@left-padding-with-icon: 16;
@right-padding-with-icon: 24;
@padding-between-elements: 8;
@label-text-alignment: center;

// Define button
.normal-ui-button () {
  @values: @normal-ui-button-values;

  background-color: @values [background-color];
  border: none;
  color: @values [text-color];
  cursor: pointer;
  display: flex;

  font-family: 'Roboto';
  font-size: 16px;

  padding: 20px 40px;
  border-radius: 30px;
  margin: 4px;

  display: flex;
  justify-content: @label-text-alignment;
  align-items: center;
}



.normal.ui.button {
  .normal-ui-button ();
}

.normal.ui.text {
  color: #000;
  font-family: @default-font-family;
  font-size: 32px;
}

.preview.normal.text {
  .normal.ui.text ();
}



// ----------------------------------------------
// Old code

// @import url('http://localhost:9100/@fs/home/ronbravo/projects/dev/semantic-material/node_modules/.pnpm/@fontsource+roboto@5.1.1/node_modules/@fontsource/roboto/files/roboto-latin-400-normal.woff2');

/*
@font-face {
  font-family: 'Roboto';
  src: url('/font/roboto/files/roboto-latin-400-normal.woff2') format('woff2');

  // font-family: "Fira Sans";
  // src: url('fonts/fira/eot/FiraSans-Regular.eot');
  // src: url('fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
  // src: url('http://localhost:9100/@fs/home/ronbravo/projects/dev/semantic-material/node_modules/.pnpm/@fontsource+roboto@5.1.1/node_modules/@fontsource/roboto/files/roboto-latin-400-normal.woff2') format('woff2'),
      //  url('fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
      //  url('fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype');
}
*/

// /* roboto-latin-400-normal */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-display: swap;
//   font-weight: 400;
//   src: url(/font/roboto/files/roboto-latin-400-normal.woff2) format('woff2'),
//        url(/font/roboto/files/roboto-latin-400-normal.woff) format('woff');
//   // unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
// }

// @font-face {
//   font-family: 'Roboto';
//   // font-style: normal;
//   // font-display: swap;
//   // font-weight: 400;
//   src: url(/font/roboto/files/roboto-latin-400-normal.woff2) format('woff2'),
//        url(/font/roboto/files/roboto-latin-400-normal.woff) format('woff');
// }

// http://localhost:9101/font/roboto/400.css
// @import url('http://localhost:9101/font/roboto/400.css');
// http://localhost:9101/font/roboto/files/roboto-latin-400-normal.woff2
// http://localhost:9101/font/roboto/files/roboto-latin-400-normal.woff

// * {
//   border: 1px solid green;
//   font-family: 'Roboto';
// }

// <link href="/font/roboto/400.css" rel="stylesheet" type="text/css" />
// @default-value {
//   font-family:
// }
// @import url('/font/roboto/400.css');
