.material-3 {
  *, *::before, *::after {
    box-sizing: border-box;
  }
  .preview.common.buttons {
    border: 1px solid red;
    display: inline-flex;
  }
}
.material-3.common.ui.button {
  align-items: center;
  align-self: stretch;
  background-color: #65558F;
  border: none;
  border-radius: 100px;
  color: #FFFFFF;
  display: flex;
  flex: 1 0 0;
  gap: 8px;
  height: 40px;
  justify-content: center;
  padding: 10px 24px;

  // Font
  color: #fff;
  text-align: center;

  /* M3/label/large */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;

  &:hover, &.hover {
    // background-color: red;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);   // M3/Elevation Light/1
    flex-shrink: 0;
    cursor: pointer;
  }
}
